h1 {
    color: red;
    text-align: center;
    text-shadow: 4px 4px 5px rgb(226, 99, 95);
}

.title {
    color: orange;
}

#italic{
    color: rgb(244, 14, 187);

}

nav{
    background-color: aquamarine;
    text-align: center;
}

a {
    text-decoration-line: none;
}

nav ul{
    list-style: none;
}

nav li {
    display: inline-block;
    padding: 30px;
}

.container{
    border: 10px dashed rgb(9, 237, 78);
    margin: 50px 70px 30px 10px;
    padding: 30px 0px 10px 35px;
}

.box{
    display: inline-block;
    height:200px;
    width: 200px;
    margin: 10px;
    background: blue;
    /*box-shadow: 8px 8px 30px 40px rgb(14, 66, 69) inset;  */
}

.circle-img {
    border-radius: 50%;
}

img{
    box-shadow: 8px 8px 10px 10px rgb(14, 66, 69) inset;
}

.flex{
    margin: 30px;
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column-reverse;
/*padding: 100px; */
}
/* form input{
    display: block;
    margin: 30px;
}
form textarea{
    display: block;
    margin: 30px;
}
form button{
    display: block;
    margin: 30px;
} */
form input, textarea, button{
    display: block;
    margin: 30px;
}